## Week 7 Assignment
#### Nick Ileczko

Choose six recent popular movies.  Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5.  There should be at least one movie that not everyone has seen!Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file).  Load the information into a pandas dataframe.  Your solution should include Python and pandas code that accomplishes the following:

1. Load the ratings by user information that you collected into a pandas dataframe.

2. Show the average ratings for each user and each movie.

3. Create a new pandas dataframe, with normalized ratings for each user.  Again, show the average ratings for each user and each movie.

4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of      the actual ratings.

5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average        ratings for each user and each movie.

In [16]:
import pandas as pd
moviedf = pd.read_csv(r'C:\Users\Nick\Desktop\movies.csv', index_col=0)
moviedf.head()

,Happy Death Day,American Made,IT,Kingsman,The Foreigner,Blade Runner 2049
Nick,2.0,4.0,3.0,1.0,NaN,4.0
Bob,3.0,3.0,4.0,NaN,5.0,3.0
Jill,1.0,2.0,NaN,4.0,3.0,5.0
Debrah,NaN,5.0,5.0,5.0,2.0,NaN
Sam,1.0,NaN,2.0,4.0,1.0,5.0

#### Average by Movie

In [17]:
movieavg= moviedf.mean()
movieavg

Happy Death Day      1.75
American Made        3.50
IT                   3.50
Kingsman             3.50
The Foreigner        2.75
Blade Runner 2049    4.25
dtype: float64

#### Average by Movie Watcher

In [18]:
watcheravg = moviedf.mean(axis=1)
watcheravg

Nick      2.80
Bob       3.60
Jill      3.00
Debrah    4.25
Sam       2.60
dtype: float64

#### Normalized Table

In [22]:
normratings=(moviedf-moviedf.min()) / (moviedf.max() - moviedf.min())
normratings.head()

,Happy Death Day,American Made,IT,Kingsman,The Foreigner,Blade Runner 2049
Nick,0.5,0.666667,0.333333,0.00,NaN,0.5
Bob,1.0,0.333333,0.666667,NaN,1.00,0.0
Jill,0.0,0.000000,NaN,0.75,0.50,1.0
Debrah,NaN,1.000000,1.000000,1.00,0.25,NaN
Sam,0.0,NaN,0.000000,0.75,0.00,1.0

#### Normalized Movie Ratings

In [24]:
normratingsmov = normratings.mean()
normratingsmov

Happy Death Day      0.3750
American Made        0.5000
IT                   0.5000
Kingsman             0.6250
The Foreigner        0.4375
Blade Runner 2049    0.6250
dtype: float64

#### Normalized Movie Watcher

In [25]:
normratingsvie = normratings.mean(axis=1)
normratingsvie

Nick      0.4000
Bob       0.6000
Jill      0.4500
Debrah    0.8125
Sam       0.3500
dtype: float64

Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

One advantage using normazlied ratings is if one piece of data is missing it doesn't seem to affect the data as much as the actual data. On the other hand it is easier to make sense of the actual data for most people rather than the normalzied data.

#### Standardized Movie Ratings

In [29]:
stanratings = (moviedf - moviedf.mean()) / moviedf.std()
stanratings.head()

,Happy Death Day,American Made,IT,Kingsman,The Foreigner,Blade Runner 2049
Nick,0.261116,0.387298,-0.387298,-1.443376,NaN,-0.261116
Bob,1.305582,-0.387298,0.387298,NaN,1.317465,-1.305582
Jill,-0.783349,-1.161895,NaN,0.288675,0.146385,0.783349
Debrah,NaN,1.161895,1.161895,0.866025,-0.439155,NaN
Sam,-0.783349,NaN,-1.161895,0.288675,-1.024695,0.783349

In [30]:
stanratingsmovie = stanratings.mean()
stanratingsmovie

Happy Death Day     -5.551115e-17
American Made        0.000000e+00
IT                   0.000000e+00
Kingsman            -1.387779e-17
The Foreigner        0.000000e+00
Blade Runner 2049    5.551115e-17
dtype: float64

#### Standardized Movie Watcher

In [32]:
stanratingsview = stanratings.mean(axis=1)
stanratingsview

Nick     -0.288675
Bob       0.263493
Jill     -0.145367
Debrah    0.687665
Sam      -0.379583
dtype: float64