## Project 1 ##
Nick Ileczko

**Using pandas to bring in flightproj.csv**

In [150]:
#importing numpy, pandas, csv file
import numpy as np
import pandas as pd 

flightchart = pd.read_csv("desktop/flightproj.csv")
flightchart

   Airline   Status  LAX   PHX  SAN  SFO   SEA
0   ALASKA  on time  497   221  212  503  1841
1   ALASKA  delayed   62    12   20  102   305
2  AM WEST  on time  694  4840  383  320   201
3  AM WEST  delayed  117   415   65  129    61

**Using pandas to store data. Getting the sum of ontime flights and delayed flights and adding them to a new Total col**

In [151]:
#assigning variable data
akontime = pd.Series(flightchart.loc[0])
akdelayed = pd.Series(flightchart.loc[1])
amwontime = pd.Series(flightchart.loc[2])
amwdelayed = pd.Series(flightchart.loc[3])

#getting total sum and adding total col to flightchart
def addtotal():
    ontime = akontime['LAX':'SEA'].sum()
    delayed = akdelayed['LAX':'SEA'].sum()
    amontime = amwontime['LAX':'SEA'].sum()
    amdelayed = amwdelayed['LAX':'SEA'].sum()
    
    total = pd.Series([ontime, delayed, amontime, amdelayed])
    flightchart['Total'] = total
    return flightchart

addtotal()

   Airline   Status  LAX   PHX  SAN  SFO   SEA  Total
0   ALASKA  on time  497   221  212  503  1841   3274
1   ALASKA  delayed   62    12   20  102   305    501
2  AM WEST  on time  694  4840  383  320   201   6438
3  AM WEST  delayed  117   415   65  129    61    787

**Finding the total percentage of delayed flights (rounded)**

In [152]:
alaskaratio = flightchart['Total'][1]/(flightchart['Total'][0]+flightchart['Total'][1])*100
print("Of all Alaska flights %.2f percent were delayed."%alaskaratio)

amwestratio = flightchart['Total'][3]/(flightchart['Total'][2]+flightchart['Total'][3])*100
print("Of all AM West flights %.2f percent were delayed."%amwestratio)

Of all Alaska flights 13.27 percent were delayed.
Of all AM West flights 10.89 percent were delayed.